In [2]:
import pandas as pd
import numpy as np
import geopandas as gpd
from sqlalchemy import create_engine

In [3]:
df = pd.read_csv('./data/Property_Assessments.csv')

C:\Users\mmak\AppData\Local\Continuum\anaconda3\envs\geo_env\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (15,16,20) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
df['ROLL_YEAR'].unique()

array([2017, 2007, 2008, 2009, 2010, 2018, 2019, 2011, 2012, 2020, 2013,
       2021, 2005, 2006, 2014, 2015, 2016, 2022], dtype=int64)

In [5]:
df.head(10)

,ROLL_YEAR,ROLL_NUMBER,ADDRESS,ASSESSED_VALUE,ASSESSMENT_CLASS,ASSESSMENT_CLASS_DESCRIPTION,RE_ASSESSED_VALUE,NR_ASSESSED_VALUE,FL_ASSESSED_VALUE,COMM_CODE,...,LONGITUDE,UNIQUE_KEY,YEAR_OF_CONSTRUCTION,LAND_USE_DESIGNATION,PROPERTY_TYPE,LAND_SIZE_SM,LAND_SIZE_SF,LAND_SIZE_AC,SUB_PROPERTY_USE,POINT
0,2017,423723,A 320 4 AV SW,850500.0,NR,Non-residential,NaN,NaN,NaN,DNC,...,NaN,2017000423723,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2017,442236,140 6 AV SE,0.0,NR,Non-residential,NaN,NaN,NaN,DNC,...,-114.060919,2017000442236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,POINT (-114.06091943201 51.0476656309855)
2,2017,453910,342 2 AV SW,1218000.0,NR,Non-residential,NaN,NaN,NaN,EAU,...,NaN,2017000453910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2017,457903,550 11 AV SW,0.0,NR,Non-residential,NaN,NaN,NaN,BLN,...,NaN,2017000457903,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2017,911487,700 CENTRE ST SE,5474848.0,NR,Non-residential,NaN,NaN,NaN,DNC,...,NaN,2017000911487,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2017,935304,1P 315 8 AV SW,239400.0,NR,Non-residential,NaN,NaN,NaN,DNC,...,NaN,2017000935304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2017,972133,815 10 AV SW,0.0,NR,Non-residential,NaN,NaN,NaN,BLN,...,NaN,2017000972133,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2017,1020502,8925 BARLOW TR NE,0.0,NR,Non-residential,NaN,0.0,NaN,CIA,...,-114.012342,2017001020502,NaN,S-CRI,LI,19490671.7,209802709.0,4816.41,IS1206,POINT (-114.012342366138 51.0991509674986)
8,2017,2004505,3420 80 AV NE,295000.0,RE,Residential,295000.0,NaN,NaN,CIA,...,-113.985934,2017002004505,NaN,S-FUD,LI,17742.6,190986.0,4.38,NaN,POINT (-113.985933538974 51.1257068398231)
9,2017,3000106,9020 36 ST NE,1180.0,FL,Farm land,NaN,NaN,1180.0,SRI,...,-113.980843,2017003000106,NaN,S-FUD,LO,16969.9,182668.0,4.19,FL0303,POINT (-113.98084305493 51.1334497470062)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8431097 entries, 0 to 8431096
Data columns (total 22 columns):
 #   Column                        Dtype
---  ------                        -----
 0   ROLL_YEAR                     int64
 1   ROLL_NUMBER                   int64
 2   ADDRESS                       object
 3   ASSESSED_VALUE                float64
 4   ASSESSMENT_CLASS              object
 5   ASSESSMENT_CLASS_DESCRIPTION  object
 6   RE_ASSESSED_VALUE             float64
 7   NR_ASSESSED_VALUE             float64
 8   FL_ASSESSED_VALUE             float64
 9   COMM_CODE                     object
 10  COMM_NAME                     object
 11  LATITUDE                      float64
 12  LONGITUDE                     float64
 13  UNIQUE_KEY                    int64
 14  YEAR_OF_CONSTRUCTION          float64
 15  LAND_USE_DESIGNATION          object
 16  PROPERTY_TYPE                 object
 17  LAND_SIZE_SM                  float64
 18  LAND_SIZE_SF                  float64
 19  LAND_SIZE_AC                  float64
 20  SUB_PROPERTY_USE              object
 21  POINT                         object
dtypes: float64(10), int64(3), object(9)
memory usage: 1.4+ GB

In [8]:
database_name = '.\\cal_prop.sqlite'
engine = create_engine('sqlite:///'+database_name)
df.to_sql('CAL_ASSESS',if_exists='replace',con=engine,chunksize=10000)