In [2]:
import pyeviews as evp
import numpy as np
import pandas as pd

In [3]:
evp.__version__
pd.__version__

'1.3.5'

In [4]:
eviewsapp =evp.GetEViewsApp(instance='either',showwindow=True)
evp.Run('workfile test q 1980Q1 2021Q4',app = eviewsapp)
evp.Run('open Z:\\DATABASE\\pareto.edb',app = eviewsapp)
command= "fetch acanliuna_q"
evp.Run(command,app = eviewsapp)

df=evp.GetWFAsPython(app=eviewsapp, wfname="test", namefilter="acanliuna_q")

["ACANLIUNA_Q", 
"ACANLIUNR_Q",
"ACAPRICNA_Q",
"ACAPRICNR_Q",
"ACASALUNA_Q",
"ACASALUNR_Q",
"ACASMMURA_Q",
"ACASSMURA_Q",
"ACASTMURA_Q",
"ACASNLVRA_Q",
"ACASMMURA_Q",
"ACASSMURA_Q",
"ACASTMURA_Q]

In [7]:
name_scheme = {"ACANLIUNA_Q":"new_list_sa",
 "ACANLIUNR_Q":"new_list_act",
 "ACAPRICNA_Q":"avg_price_sa",
 "ACAPRICNR_Q":"avg_price_act",
 "ACASALUNA_Q":"sales_sa",
 "ACASALUNR_Q":"sales_act",
 "ACASMMURA_Q":"multi_starts",
 "ACASSMURA_Q":"single_starts",
 "ACASTMURA_Q":"total_starts",
 "ACASNLVRA_Q":"sales_new_list",
 "ACASMMURA_Q":"multi_starts_saar",
 "ACASSMURA_Q":"single_starts_saar",
 "ACASTMURA_Q":"total_starts_saar"}

{'ACANLIUNA_Q': 'new_list_sa',
 'ACANLIUNR_Q': 'new_list_act',
 'ACAPRICNA_Q': 'avg_price_sa',
 'ACAPRICNR_Q': 'avg_price_act',
 'ACASALUNA_Q': 'sales_sa',
 'ACASALUNR_Q': 'sales_act',
 'ACASMMURA_Q': 'multi_starts',
 'ACASSMURA_Q': 'single_starts'}

In [32]:
pd.DatetimeIndex([date.date() for date in eviewsapp.GetSeries("@date")])

DatetimeIndex(['1988-01-01', '1988-04-01', '1988-07-01', '1988-10-01',
               '1989-01-01', '1989-04-01', '1989-07-01', '1989-10-01',
               '1990-01-01', '1990-04-01',
               ...
               '2019-07-01', '2019-10-01', '2020-01-01', '2020-04-01',
               '2020-07-01', '2020-10-01', '2021-01-01', '2021-04-01',
               '2021-07-01', '2021-10-01'],
              dtype='datetime64[ns]', length=136, freq=None)

In [11]:
df.rename(columns={"ACANLIUNA_Q":"new_list"})

            new_list
1988-01-01    6427.0
1988-04-01    6613.0
1988-07-01    6592.0
1988-10-01    6441.0
1989-01-01    5806.0
...              ...
2020-10-01   11045.0
2021-01-01   12440.0
2021-04-01   13542.0
2021-07-01   11373.0
2021-10-01   11450.0

[136 rows x 1 columns]