In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data\\pareto\\sales_act.csv',index_col=0)

In [6]:
df.index=pd.to_datetime(df.index)

In [7]:
df.resample('A').sum().to_csv('sales_annual.csv')

            sales_act
1980-12-31    11599.0
1981-12-31    11775.0
1982-12-31     6852.0
1983-12-31     6965.0
1984-12-31     9181.0
1985-12-31    14274.0
1986-12-31    11294.0
1987-12-31    14337.0
1988-12-31    15928.0
1989-12-31    19132.0
1990-12-31    16323.0
1991-12-31    16280.0
1992-12-31    18721.0
1993-12-31    18065.0
1994-12-31    15462.0
1995-12-31    13003.0
1996-12-31    17766.0
1997-12-31    21559.0
1998-12-31    20554.0
1999-12-31    20197.0
2000-12-31    19828.0
2001-12-31    22512.0
2002-12-31    24706.0
2003-12-31    24359.0
2004-12-31    26511.0
2005-12-31    31569.0
2006-12-31    33027.0
2007-12-31    32176.0
2008-12-31    23422.0
2009-12-31    25134.0
2010-12-31    21225.0
2011-12-31    22832.0
2012-12-31    27125.0
2013-12-31    30434.0
2014-12-31    34178.0
2015-12-31    24507.0
2016-12-31    23047.0
2017-12-31    24331.0
2018-12-31    21007.0
2019-12-31    21363.0
2020-12-31    22105.0
2021-12-31    37102.0
2022-12-31    12100.0

In [10]:
tot_st = pd.read_csv('data\\pareto\\starts_homeowner.csv',index_col=0)
tot_st=tot_st.join(pd.read_csv('data\\pareto\\starts_condo.csv',index_col=0))
tot_st=tot_st.join(pd.read_csv('data\\pareto\\starts_rental.csv',index_col=0))
tot_st=tot_st.join(pd.read_csv('data\\pareto\\starts_coop.csv',index_col=0))
tot_st=tot_st.join(pd.read_csv('data\\pareto\\starts_other.csv',index_col=0))
tot_st.index=tot_st.index.rename('Date')

In [12]:
tot_st['starts_all']=tot_st['starts_homeowner']+tot_st['starts_condo']+tot_st['starts_rental']+tot_st['starts_coop']+tot_st['starts_other']

In [15]:
tot_st.index=pd.to_datetime(tot_st.index)

In [19]:
tot_st.tail(24)

,starts_homeowner,starts_condo,starts_rental,starts_coop,starts_other,starts_all
Date,,,,,,
2020-04-01,371.0,190.0,14.0,0.0,0.0,575.0
2020-05-01,368.0,237.0,116.0,0.0,0.0,721.0
2020-06-01,342.0,13.0,70.0,0.0,0.0,425.0
2020-07-01,373.0,305.0,59.0,0.0,0.0,737.0
2020-08-01,409.0,194.0,133.0,0.0,0.0,736.0
2020-09-01,523.0,491.0,21.0,0.0,0.0,1035.0
2020-10-01,499.0,305.0,178.0,0.0,0.0,982.0
2020-11-01,596.0,292.0,64.0,0.0,0.0,952.0
2020-12-01,577.0,229.0,34.0,0.0,0.0,840.0
2021-01-01,541.0,574.0,7.0,0.0,0.0,1122.0
2021-02-01,531.0,108.0,3.0,0.0,0.0,642.0
2021-03-01,579.0,234.0,245.0,0.0,0.0,1058.0
2021-04-01,918.0,330.0,51.0,0.0,0.0,1299.0
2021-05-01,639.0,634.0,308.0,0.0,0.0,1581.0
2021-06-01,754.0,336.0,83.0,0.0,0.0,1173.0
2021-07-01,710.0,545.0,149.0,0.0,0.0,1404.0
2021-08-01,731.0,118.0,261.0,0.0,0.0,1110.0
2021-09-01,677.0,93.0,256.0,0.0,0.0,1026.0
2021-10-01,631.0,306.0,318.0,0.0,0.0,1255.0
2021-11-01,697.0,560.0,935.0,0.0,0.0,2192.0
2021-12-01,695.0,435.0,25.0,0.0,0.0,1155.0
2022-01-01,396.0,153.0,12.0,0.0,0.0,561.0
2022-02-01,617.0,164.0,378.0,0.0,0.0,1159.0
2022-03-01,736.0,173.0,333.0,0.0,0.0,1242.0

In [16]:
tot_st.resample('A').sum()

,starts_homeowner,starts_condo,starts_rental,starts_coop,starts_other,starts_all
Date,,,,,,
1980-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1981-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1982-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1983-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1984-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1985-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1986-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1987-12-31,0.0,0.0,0.0,0.0,0.0,0.0
1988-12-31,2483.0,0.0,78.0,0.0,1.0,2562.0
1989-12-31,4800.0,46.0,478.0,0.0,904.0,6228.0
1990-12-31,5353.0,766.0,296.0,0.0,589.0,7004.0
1991-12-31,4317.0,177.0,147.0,41.0,68.0,4750.0
1992-12-31,6291.0,568.0,94.0,62.0,19.0,7034.0
1993-12-31,5422.0,958.0,247.0,0.0,2.0,6629.0
1994-12-31,5443.0,1373.0,61.0,0.0,0.0,6877.0
1995-12-31,4539.0,1120.0,26.0,0.0,0.0,5685.0
1996-12-31,6030.0,1064.0,17.0,0.0,0.0,7111.0
1997-12-31,8928.0,2159.0,128.0,0.0,0.0,11215.0
1998-12-31,9438.0,2993.0,64.0,0.0,0.0,12495.0
1999-12-31,6846.0,3517.0,237.0,0.0,0.0,10600.0
2000-12-31,7210.0,3865.0,18.0,0.0,0.0,11093.0
2001-12-31,7884.0,3001.0,463.0,0.0,1.0,11349.0
2002-12-31,9798.0,4246.0,295.0,0.0,0.0,14339.0
2003-12-31,9106.0,4293.0,243.0,0.0,0.0,13642.0
2004-12-31,8975.0,4558.0,475.0,0.0,0.0,14008.0
2005-12-31,9534.0,4112.0,21.0,0.0,0.0,13667.0
2006-12-31,11456.0,5402.0,188.0,0.0,0.0,17046.0
2007-12-31,8764.0,4721.0,20.0,0.0,0.0,13505.0
2008-12-31,5069.0,6001.0,368.0,0.0,0.0,11438.0
2009-12-31,5557.0,746.0,15.0,0.0,0.0,6318.0
2010-12-31,6722.0,2254.0,286.0,0.0,0.0,9262.0
2011-12-31,6000.0,3072.0,220.0,0.0,0.0,9292.0
2012-12-31,7115.0,5092.0,634.0,0.0,0.0,12841.0
2013-12-31,7729.0,4616.0,239.0,0.0,0.0,12584.0
2014-12-31,8045.0,8431.0,655.0,0.0,0.0,17131.0
2015-12-31,5532.0,6253.0,1248.0,0.0,0.0,13033.0
2016-12-31,4789.0,4294.0,162.0,0.0,0.0,9245.0
2017-12-31,6581.0,3960.0,993.0,0.0,0.0,11534.0
2018-12-31,5894.0,4164.0,913.0,0.0,0.0,10971.0
2019-12-31,5844.0,5066.0,999.0,0.0,0.0,11909.0
2020-12-31,5533.0,2821.0,881.0,0.0,0.0,9235.0
2021-12-31,8103.0,4273.0,2641.0,0.0,0.0,15017.0
2022-12-31,1749.0,490.0,723.0,0.0,0.0,2962.0