In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import seaborn as sns
import geopandas as gpd

sns.set(font='Arial')

In [11]:
ct = gpd.read_file(r"../geo/lct_000b16a_e.zip")
cal_ct = ct[ct['CMANAME']=='Calgary']

In [3]:
starts_ct_ann=pd.read_csv('./Annual/starts_ct_type.csv')

In [5]:
starts_ct_ann=starts_ct_ann[starts_ct_ann['metro']=='CALGARY']

In [12]:
starts_ct_ann['full_ct']=starts_ct_ann['full_ct'].map('{:.2f}'.format)
starts_ct_ann['full_ct']=starts_ct_ann['full_ct'].astype(str)

C:\Users\mmak\AppData\Local\Temp\ipykernel_8808\1564453412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starts_ct_ann['full_ct']=starts_ct_ann['full_ct'].map('{:.2f}'.format)
C:\Users\mmak\AppData\Local\Temp\ipykernel_8808\1564453412.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  starts_ct_ann['full_ct']=starts_ct_ann['full_ct'].astype(str)

In [14]:
cal_ct

,CTUID,CTNAME,PRUID,PRNAME,CMAUID,CMAPUID,CMANAME,CMATYPE,geometry
521,8250204.03,0204.03,48,Alberta,825,48825,Calgary,B,"POLYGON ((4721866.774 1923999.814, 4721366.451..."
565,8250201.01,0201.01,48,Alberta,825,48825,Calgary,B,"POLYGON ((4681607.283 1950607.369, 4681725.897..."
574,8250201.02,0201.02,48,Alberta,825,48825,Calgary,B,"POLYGON ((4666222.751 1976893.989, 4666543.574..."
576,8250200.03,0200.03,48,Alberta,825,48825,Calgary,B,"POLYGON ((4653424.837 1948201.417, 4653641.457..."
577,8250204.01,0204.01,48,Alberta,825,48825,Calgary,B,"POLYGON ((4710210.854 1899299.514, 4710469.103..."
...,...,...,...,...,...,...,...,...,...
5580,8250001.29,0001.29,48,Alberta,825,48825,Calgary,B,"POLYGON ((4679927.134 1909070.640, 4679982.283..."
5598,8250076.09,0076.09,48,Alberta,825,48825,Calgary,B,"POLYGON ((4689528.946 1930653.354, 4689505.157..."
5599,8250076.12,0076.12,48,Alberta,825,48825,Calgary,B,"POLYGON ((4689957.211 1933804.917, 4690002.617..."
5600,8250076.13,0076.13,48,Alberta,825,48825,Calgary,B,"POLYGON ((4686841.946 1937701.051, 4686829.877..."
5720,8250038.29,0038.29,48,Alberta,825,48825,Calgary,B,"POLYGON ((4696791.269 1927991.314, 4696833.634..."

In [16]:
starts_metro_type = pd.read_csv('./Annual/starts_metro_type.csv')

In [18]:
starts_metro_type=starts_metro_type[starts_metro_type['metro']=='CALGARY']

In [19]:
starts_metro_type

,ref_yy,metcode,dweltype,mkttycd,date_pbi,metro,total_starts,starts_no_accsuite,starts_accsuite,num_structures,...,tot_units,total_avg_unitsize_sqm,total_avg_unitsize_sqft,total_avg_price,total_min_price,total_max_price,reference_period_qq,ref_qq,population,starts_per_10kpop
1,1988,140,4,1,"December 31, 1988",CALGARY,21,NaN,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,1988-4,4,724449.865,0.289875
23,1988,140,2,2,"December 31, 1988",CALGARY,2,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1988-4,4,724449.865,0.027607
27,1988,140,1,0,"June 30, 1988",CALGARY,1,NaN,NaN,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1988-4,4,724449.865,0.013804
50,1988,140,2,1,"December 31, 1988",CALGARY,312,NaN,NaN,156,...,NaN,NaN,NaN,NaN,NaN,NaN,1988-4,4,724449.865,4.306716
51,1988,140,5,1,"June 30, 1988",CALGARY,15,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,1988-4,4,724449.865,0.207054
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4193,2022,140,4,3,"June 30, 2022",CALGARY,314,NaN,NaN,52,...,220.0,96.527182,1039.008932,228039.345455,0.0,699000.0,2022-4,4,1604005.000,1.957600
4197,2022,140,1,2,"June 30, 2022",CALGARY,22,NaN,NaN,22,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-4,4,1604005.000,0.137157
4208,2022,140,4,2,"March 31, 2022",CALGARY,13,NaN,NaN,4,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-4,4,1604005.000,0.081047
4209,2022,140,4,1,"March 31, 2022",CALGARY,610,NaN,NaN,124,...,220.0,113.834273,1225.300728,391176.236364,0.0,693000.0,2022-4,4,1604005.000,3.802981
4211,2022,140,1,3,"June 30, 2022",CALGARY,6,NaN,NaN,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2022-4,4,1604005.000,0.037406

In [20]:
comp_metro_type=pd.read_csv('./Annual/comp_metro_type.csv')

In [22]:
comp_metro_type=comp_metro_type[comp_metro_type['metro']=='CALGARY']

In [26]:
comp_metro_type.columns

Index(['ref_yy', 'metcode', 'dweltype', 'mkttycd', 'date_pbi', 'metro',
       'total_completions', 'completions_no_accsuite', 'completions_accsuite',
       'num_structures', 'unitsperstructure', 'avgstorycount',
       'avglengthofconstr', 'bachelor_units', 'one_bedrooms', 'two_bedrooms',
       'three_bedrooms', 'four_bedrooms', 'tot_units',
       'total_avg_unitsize_sqm', 'total_avg_unitsize_sqft', 'total_avg_price',
       'total_min_price', 'total_max_price', 'reference_period_qq', 'ref_qq',
       'population', 'comp_per_10kpop'],
      dtype='object')

In [30]:
comp_metro_type[['ref_yy', 'metcode', 'dweltype', 'mkttycd', 'date_pbi', 'metro','avglengthofconstr','completions_accsuite','three_bedrooms']]

,ref_yy,metcode,dweltype,mkttycd,date_pbi,metro,avglengthofconstr,completions_accsuite,three_bedrooms
2,1988,140,4,1,"December 31, 1988",CALGARY,10.125000,NaN,NaN
35,1988,140,5,2,"December 31, 1988",CALGARY,11.000000,NaN,NaN
46,1988,140,5,4,"June 30, 1988",CALGARY,19.000000,NaN,NaN
66,1988,140,1,1,"June 30, 1988",CALGARY,5.682406,NaN,NaN
103,1988,140,2,1,"September 30, 1988",CALGARY,6.482353,NaN,NaN
...,...,...,...,...,...,...,...,...,...
4185,2022,140,1,1,"March 31, 2022",CALGARY,7.011982,NaN,NaN
4189,2022,140,2,1,"June 30, 2022",CALGARY,7.229008,NaN,NaN
4190,2022,140,1,2,"March 31, 2022",CALGARY,6.850000,NaN,NaN
4197,2022,140,5,2,"June 30, 2022",CALGARY,9.819820,114.0,12.0
4203,2022,140,1,3,"March 31, 2022",CALGARY,8.500000,NaN,NaN